# Ignore everything in this directory
*
# Except this file
!.gitignore
# And the directories
!*/
# https://stackoverflow.com/questions/115983/how-do-i-add-an-empty-directory-to-a-git-repository
# https://jasonstitt.com/gitignore-whitelisting-patterns
